* text=auto eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf

*.bin binary
*.hex binary
*.elf binary
*.lib binary
*.a binary
*.o binary
*.map binary

*.png binary
*.jpg binary

*.project -text
*.cproject -text
*.mxproject -text
*.ioc -text